<app-navbar></app-navbar>

<div class="datamap">
  <h2>Data Mapping Rule</h2>

  <ul class="tabs">
    <li *ngFor="let tab of tabs"
        (click)="switchTab(tab)"
        [class.active]="activeTab === tab">
      {{ tab }}
    </li>
  </ul>

  <div *ngIf="isAdmin()" class="admin-controld">
    <button (click)="addMap()">Add</button>
    <button (click)="editMap()">Edit</button>
  </div>

  <div class="table-container">
    <!-- <h3>{{ activeTab }}</h3> -->

    <div class="side-by-side-tables">
      <!-- First Table -->
      <div class="table-wrapper">
        <h3>{{ getTableHeader(0) }}</h3>
        <table class="mapping-table">
          <thead>
            <tr>
              <th *ngFor="let column of getTableFormat(0)">
                {{ column.header }}
              </th>
              <th *ngIf="isAdmin()">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of getMappingRules(0); let i = index">
              <td *ngFor="let column of getTableFormat(0)">
                {{ getRowValue(row, column) }}
              </td>
              <!-- <td *ngIf="isAdmin()">
                <button (click)="deleteRow()">Delete</button>
              </td> -->
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Second Table -->
      <div class="table-wrapper">
        <h3>{{ getTableHeader(1) }}</h3>
        <table class="mapping-table">
          <thead>
            <tr>
              <th *ngFor="let column of getTableFormat(1)">
                {{ column.header }}
              </th>
              <th *ngIf="isAdmin()">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of getMappingRules(1); let i = index">
              <td *ngFor="let column of getTableFormat(1)">
                {{ getRowValue(row, column) }}
              </td>
              <!-- <td *ngIf="isAdmin()">
                <button (click)="deleteRow(i, 1)">Delete</button>
              </td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
