<app-navbar></app-navbar>

<div class="datamap">
  <h2>Data Mapping Rule</h2>

  <ul class="tabs">
    <li *ngFor="let tab of tabs"
        (click)="switchTab(tab)"
        [class.active]="activeTab === tab">
      {{ tab }}
    </li>
  </ul>

  <!-- <div *ngIf="isAdmin()" class="admin-controld">
    <button (click)="addMap()">Add</button>
    <button (click)="editMap()">Edit</button>
  </div> -->

  <div class="table-container">
    <!-- <h3>{{ activeTab }}</h3> -->

      <div class="search-content">
        <label for="globalSearch">Search</label>
        <input
          type="text"
          id="globalSearch"
          [(ngModel)]="globalSearchText"
          placeholder="Search data in both tables globally..."
        />


      <br/>
      <br/>
        <label for="globalFilter">Filter Column</label>
        <select
          id="globalFilter"
          [(ngModel)]="globalFilterColumn"
          class="search-column-dropdown"
        >
          <option value="" [class.highlighted]="globalFilterColumn === ''">All Columns</option>
            <!-- Group for Table 1 -->
            <optgroup class="optgroup-t1" label={{getTableHeader(0)}}:>
              <option *ngFor="let column of getTableFormat(0)" [value]="column.field" [class.highlighted]="globalFilterColumn === column.field">
                {{ column.header }}
              </option>
            </optgroup>

            <!-- Group for Table 2 -->
            <optgroup class="optgroup-t2" label={{getTableHeader(1)}}:>
              <option *ngFor="let column of getTableFormat(1)" [value]="column.field" [class.highlighted]="globalFilterColumn === column.field">
                {{ column.header }}
              </option>
            </optgroup>
        </select>
    </div>

    <div class="side-by-side-tables">
      <!-- First Table -->
      <div class="table-wrapper">
        <h3>{{ getTableHeader(0) }}</h3>
        <div *ngIf="filteredData(0).length === 0">
          <p class="nodata">No Data Found in {{getTableHeader(0)}} for the entered search!</p>
        </div>
        <table *ngIf="filteredData(0).length > 0" class="mapping-table">
          <thead>
            <tr>
              <th *ngFor="let column of getTableFormat(0)">
                {{ column.header }}
              </th>
              <th *ngIf="isAdmin()">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of filteredData(0); let i = index">
              <td *ngFor="let column of getTableFormat(0)" [ngClass]="{
                'highlights': matchText(row[column.field], globalSearchText),
                'td-overflow': !isAdmin()
              }">
                {{ getRowValue(row, column) }}
              </td>
              <td *ngIf="isAdmin()">
                <button>Edit</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Second Table -->
      <div class="table-wrapper">
        <h3>{{ getTableHeader(1) }}</h3>
        <div *ngIf="filteredData(1).length === 0">
          <p class="nodata">No Data Found in {{getTableHeader(1)}} for the entered search!</p>
        </div>
        <table *ngIf="filteredData(1).length > 0" class="mapping-table">
          <thead>
            <tr>
              <th *ngFor="let column of getTableFormat(1)">
                {{ column.header }}
              </th>
              <th *ngIf="isAdmin()">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of filteredData(1); let i = index">
              <td *ngFor="let column of getTableFormat(1)">
                {{ getRowValue(row, column) }}
              </td>
              <td *ngIf="isAdmin()">
                <button>Edit</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
