.datamap {
  padding: 2rem;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 16px;
  cursor: pointer;
  background-color: #071975;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #035493;
}

.admin-controld {
  margin-top: 2rem;
}

.admin-controld button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #071975;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.admin-controld button:hover {
  background-color: #035493;
}

.search-content {
  margin-bottom: 20px;
}

.search-content input {
  width: 300px;
  padding: 8px;
  font-size: 15px;
  border-radius: 5px;
}

label {
  margin-right: 5px;
}

#globalFilter {
  width: 270px;
  padding: 8px;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.search-column-dropdown {
  width: 200px;
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
}

.search-column-dropdown option {
  color: black;
  background: white;
}

.search-column-dropdown option.highlighted {
  background-color: #071975;
  color: white;
  width: 100px;
}

.optgroup-t1 {
  font-weight: bold;
  color: #071975;
  background-color: gainsboro;
}

.optgroup-t2 {
  font-weight: bold;
  color: #071975;
  background-color: gainsboro;
}

.nodata {
  font-size: 16px;
  font-weight: bolder;
}

.highlights {
  background-color: palegoldenrod;
  color: seagreen;
  font-weight: bold;
}

.side-by-side-tables {
  display: flex;
  justify-content: space-between;
  gap: 130px;
}

.table-container {
  overflow-x: auto;
  max-width: 100%;
}

.table-wrapper {
  width: 48%;
}

.mapping-table {
  width: 100%;
  border-collapse: collapse;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

li {
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid #ccc;
  margin-right: 5px;
  border-radius: 5px;
}

li.active {
  background-color: #071975;
  color: white;
  font-weight: 640;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  white-space: nowrap;
}

.td-overflow {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.td-overflow:hover {
  background-color: #f9f9f9;
  z-index: 1;
}

th {
  background-color: #071975;
  color: white;
  text-align: center;
  font-weight: 640;
}

.pagination-controls {
  margin-top: 20px;
  text-align: center;
}
