<app-navbar></app-navbar>

<div class="changelog">
  <h2>Change Log</h2>

  <div class="search-content">
    <label for="search">Search </label>
    <input type="text" id="search" [(ngModel)]="searchText" placeholder="Search any column data globally..." />
    <br />
    <br />
    <label for="searchColumn"> Filter Column </label>
    <select
      id="searchColumn"
      [(ngModel)]="searchColumn"
      class="search-column-dropdown"
    >
      <option value="" [class.highlighted]="searchColumn === ''">
        All Columns
      </option>
      <option
        *ngFor="let column of tableColumns"
        [value]="column.field"
        [class.highlighted]="searchColumn === column.field"
      >
        {{ column.header }}
      </option>
    </select>
  </div>

  <div *ngIf="filteredData().length === 0">
    <p class="nodata">No Data Found for Entered Search!</p>
  </div>

  <div *ngIf="isAdmin()" class="admin-control">
    <div>
       <button (click)="addChange()">Add New Row</button>
       <button (click)="saveNewRow()">Save All Rows</button>
      <!-- <button (click)="deleteRow()">Delete Row</button> -->
    </div>
   

    <div *ngIf="isAdmin()" class="admin-column">
      <button (click)="addColumn()">Add New Column</button>
      <input type="text" class="input-column" [(ngModel)]="newColumnName" placeholder=" Enter New Column Name" />
    </div>
  </div>


  <div class="table-container">
  <table *ngIf="filteredData().length > 0">
    <thead>
      <tr> 
        <th>
          <input type="checkbox" [(ngModel)]="selectAll" (change)="toggleSelectAll()" />
        </th>
        <th>Sr. No.</th>
        <th>OFSAA Mapping Change Date</th>
        <th>OFSAA Stage Table Name</th>
        <th>Change Details</th>
        <th>OFSAA Change By</th>
        <th>ODI Build Status</th>
        <th>ODI Build Date</th>
        <th>Verified Y/N</th>
        <th>Verified by</th>
        <th>Verified Date</th>
        <th>Comments</th>
        <th *ngFor="let column of filteredTableColumns">{{ column.header }}</th>
        <th *ngIf="isAdmin()">Actions</th>
      </tr>
    </thead>
     <tbody *ngFor="let row of filteredData() | paginate: { id: 'changelog-pagination', itemsPerPage: itemsPerPage, currentPage: currentPage }"> 
      <tr>
        
        <td>
          <input type="checkbox" [(ngModel)]="row.isSelected"  (change)="updateSelectAll()" />
        </td>
        <!-- Column 1: Serial Number -->
        <td [ngClass]="{ highlights: matchText(row.srNo) }">{{ row.srNo }}</td>
      
        <!-- Column 2: OFSAA Mapping Change Date -->
        <td *ngIf="editingRow === row">
          <input type="date" [(ngModel)]="row.ofsaaMappingChangeDate" />
        </td>
        <td
        class="td-overflow"
        [title]="row.ofsaaMappingChangeDate" 
        *ngIf="editingRow !== row"
        [ngClass]="{highlights: matchText(row.ofsaaMappingChangeDate)}">
          {{ row.ofsaaMappingChangeDate | date:'shortDate' }}
        </td>
      
        <!-- Column 3: OFSAA Stage Table Name -->
        <td *ngIf="editingRow === row">
          <input [(ngModel)]="row.ofsaaStageTableName" />
        </td>
        <td
        class="td-overflow"
        [title]="row.ofsaaStageTableName"
        [ngClass]="{highlights:matchText(row.ofsaaStageTableName)}"
         *ngIf="editingRow !== row">
          {{ row.ofsaaStageTableName }}
        </td>
      
        <!-- Column 4: Change Details -->
        <td *ngIf="editingRow === row">
          <input [(ngModel)]="row.changeDetails" />
        </td>
        <td
        class="td-overflow"
        [title]="row.changeDetails"
        [ngClass]="{highlights:matchText(row.changeDetails)}"
        *ngIf="editingRow !== row">
          {{ row.changeDetails }}
        </td>
      
        <!-- Column 5: OFSAA Change By -->
        <td *ngIf="editingRow === row">
          <input [(ngModel)]="row.ofsaaChangeBy" />
        </td>
        <td
        class="td-overflow"
        [title]="row.ofsaaChangeBy"
        [ngClass]="{highlights:matchText(row.ofsaaChangeBy)}"
        *ngIf="editingRow !== row">
          {{ row.ofsaaChangeBy }}
        </td>
      
        <!-- Column 6: ODI Build Status -->
        <td *ngIf="editingRow === row">
          <input [(ngModel)]="row.odiBuildStatus" />
        </td>
        <td
        class="td-overflow"
        [title]="row.odiBuildStatus"
        [ngClass]="{highlights:matchText(row.odiBuildStatus)}"
        *ngIf="editingRow !== row">
          {{ row.odiBuildStatus }}
        </td>
      
        <!-- Column 7: ODI Build Date -->
        <td *ngIf="editingRow === row">
          <input type="date" [(ngModel)]="row.odiBuildDate" />
        </td>
        <td
        class="td-overflow"
        [title]="row.odiBuildDate"
        [ngClass]="{highlights:matchText(row.odiBuildDate)}"
        *ngIf="editingRow !== row">
          {{ row.odiBuildDate | date:'shortDate' }}
        </td>
      
        <!-- Column 8: Verified (Yes/No) -->
        <td *ngIf="editingRow === row">
          <select [(ngModel)]="row.verified_yn">
            <option [value]="'Yes'" [selected]="row.verified_yn === 'Y'">Yes</option>
            <option [value]="'No'" [selected]="row.verified_yn === 'N'">No</option>
          </select>
        </td>
        <td
        class="td-overflow"
        [title]="row.verified_yn"
        [ngClass]="{highlights:matchText(row.verified_yn)}"
        *ngIf="editingRow !== row">
          {{ row.verified_yn }}
        </td>
      
        <!-- Column 9: Verified By -->
        <td *ngIf="editingRow === row">
          <input [(ngModel)]="row.verifiedBy" />
        </td>
        <td
        class="td-overflow"
        [title]="row.verifiedBy"
        [ngClass]="{highlights:matchText(row.verifiedBy)}"        
        *ngIf="editingRow !== row">
          {{ row.verifiedBy }}
        </td>
      
        <!-- Column 10: Verified Date -->
        <td *ngIf="editingRow === row">
          <input type="date" [(ngModel)]="row.verifiedDate" />
        </td>
        <td 
        class="td-overflow"
        [title]="row.verifiedDate"
        [ngClass]="{highlights:matchText(row.verifiedDate)}"
        *ngIf="editingRow !== row">
          {{ row.verifiedDate | date:'shortDate' }}
        </td>
      
        <!-- Column 11: Comments -->
        <td *ngIf="editingRow === row">
          <textarea [(ngModel)]="row.comments"></textarea>
        </td>
        <td 
        class="td-overflow"
        [title]="row.comments"
        [ngClass]="{highlights:matchText(row.comments)}"
        *ngIf="editingRow !== row">
          {{ row.comments }}
        </td>
      
        <!-- Column 12: Dynamic Columns for Admin -->
        <td *ngFor="let column of filteredTableColumns">
          <span *ngIf="!isAdmin()">{{ row[column.field] }}</span>
          <input
            type="text"
          [ value]="row[column.field]"
            *ngIf="isAdmin()"
            [(ngModel)]="row[column.field]"
            placeholder="Enter Data"
            (change)="saveColumnData(row, column, $event)"
            [ngClass]="{
              'no-border': row[column.field + '_dirty'],
              'input-default': !row[column.field + '_dirty']
            }"
          />
        </td>
      
        <!-- Column 13: Edit/Save Button -->
        <td *ngIf="isAdmin()">
          <div>
            <button (click)="editChange(row)">{{ editingRow === row ? 'Save' : 'Edit' }}</button>
          </div>
        </td>
      
      </tr>
        
    </tbody>
  </table>
  <pagination-controls
    id="table-pagination"
    [id]="'table-pagination'"
    [autoHide]="true"
    [maxSize]="5"
    (pageChange)="currentPage = $event"
    ></pagination-controls>
  </div>
  <div *ngIf="isAdmin()" class="column-button">
    <button (click)="editColumnData()">Edit Column Data</button>
    <button (click)="saveAllColumns()">Save All Columns</button>
      <button *ngIf="isAdmin()" (click)="deleteSelectedRows()" [disabled]="!selectedRows.length">
        Delete
      </button>
  </div>
</div>
