<nav class="navbar">
  <div class="hamburger" (click)="toggleNavbar()">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>

  <ul class="nav-links" [class.active]="isNavbarOpen">
    <li><a routerLink="/index" routerLinkActive="active">Index</a></li>
    <li><a routerLink="/changelog" routerLinkActive="active">Change Log</a></li>
    <li>
      <a routerLink="/data-mapping-rule" routerLinkActive="active"
        >Data Mapping Rule</a
      >
    </li>
  </ul>
  <ul class="tabs" *ngIf="router.url === '/data-mapping-rule'">
    <li
      *ngFor="let tab of tabs"
      (click)="switchTab(tab)"
      [class.active]="activeTab === tab"
    >
      {{ tab }}
    </li>
  </ul>

  <!-- <span>{{currentRole}}</span> -->
  <div class="role-container" [ngClass]="{ hidden: isNavbarOpen }">
    <!-- <i class="fa-regular fa-user"></i> -->
    <span class="current-role" (click)="toggleDropdown()">
      <i class="fa-regular fa-user"></i> {{ currentRole || "Guest" }}
    </span>

    <div *ngIf="dropdownOpen" class="dropdown">
      <span (click)="toggleRole()">
        {{ getOtherRole() }}
      </span>
    </div>
  </div>
</nav>
