.index {
  padding: 2rem;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

button {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 16px;
  cursor: pointer;
  background-color: #071975;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #035493;
}

.admin-control {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.admin-control button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #071975;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.admin-control button:hover {
  background-color: #035493;
}

.search-content {
  margin-bottom: 20px;
}

.search-content input {
  width: 300px;
  padding: 8px;
  font-size: 15px;
  border-radius: 5px;
}

#searchColumn {
  width: 270px;
  padding: 8px;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.search-column-dropdown {
  width: 200px;
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
}

.search-column-dropdown option {
  color: black;
  background: white;
}

.search-column-dropdown option.highlighted {
  background-color: #071975;
  color: white;
  width: 100px;
}

.nodata {
  font-size: 16px;
  font-weight: bolder;
}

.table-container {
  overflow-x: auto;
  max-width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  white-space: nowrap;
}

.td-overflow {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.td-overflow:hover {
  background-color: #f9f9f9;
  z-index: 1;
}

th {
  background-color: #071975;
  color: white;
  text-align: center;
  font-weight: 640;
}

.pagination-controls {
  margin-top: 20px;
  text-align: center;
}

.input-column {
  height: 25px;
  border-radius: 5px;
  font-size: 15px;
  padding: 8px;
}

input {
  border: 1px solid #ccc;
  height: 25px;
  padding: 8px;
  border-radius: 5px;
  font-size: 15px;
}

/* If the data is filled (input is dirty), remove the border */
input.no-border {
  border: none;
  background-color: rgba(255, 255, 255, 0.801);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
}

/* Keep the default border if not filled */
input.input-default {
  border: 1px solid #ccc;
}

.dropdownstyle {
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  box-sizing: border-box;
}

.dropdownstyle option:hover {
  background-color: #071975 !important;
  color: white !important;
}

.highlights {
  background-color: palegoldenrod;
  color: seagreen;
  font-weight: bold;
}

.column-button {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 768px) {
  .table-container table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  .search-content,
  .admin-control {
    flex-direction: column;
    align-items: stretch;
  }

  .search-content input,
  .search-content select,
  .admin-control button {
    width: 100%;
  }

  .admin-column {
    margin-bottom: 8px;
  }

  .pagination-controls {
    text-align: center;
    margin-top: 16px;
  }

  .column-button {
    flex-direction: column;
    align-items: stretch;
  }
}
