@import "@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* styles.scss */

/* Style dialog buttons globally */
.mat-dialog-actions .mat-button {
  background-color: #3f51b5; /* Blue color */
  color: white;
  font-weight: bold;
  border-radius: 4px;
  padding: 10px 20px;
}

.mat-dialog-actions .mat-button:hover {
  background-color: #303f9f; /* Darker blue on hover */
}

